# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [1]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:
count = 0
for i in list1:
    count += 1
    
print(f"The length of the list is: {count}")

The length of the list is: 10

3. Append an element to the end of a list.

In [4]:
list1.append(20)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 20]

4. Insert an element at a specific index in a list.

In [6]:
list1.insert(3, 21)
list1

[1, 2, 3, 21, 4, 5, 6, 7, 8, 9, 10, 20, 20, 3]

5. Remove an element from a list by its value.

In [9]:
list1.remove(20)

In [10]:
list1

[1, 2, 3, 21, 4, 5, 6, 7, 8, 9, 10, 3]

6. Remove an element from a list by its index.

In [12]:
list1.pop(4)
list1

[1, 2, 3, 21, 6, 7, 8, 9, 10, 3]

7. Check if an element exists in a list.

In [13]:
10 in list1

True

8. Find the index of the first occurrence of an element in a list.

In [14]:
list1.index(3)

2

9. Count the occurrences of an element in a list.

In [18]:
num = {}
for i in list1:
    if i in num:
        num[i] += 1
    else:
        num[i] = 1

print(f"The occurrences of an element in a list is: \n{num}")

The occurrences of an element in a list is:
{1: 1, 2: 1, 3: 2, 21: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

10. Reverse the order of elements in a list.

In [19]:
list1[::-1]

[3, 10, 9, 8, 7, 6, 21, 3, 2, 1]

11. Sort a list in ascending order.

In [21]:
list1.sort()
list1

[1, 2, 3, 3, 6, 7, 8, 9, 10, 21]

12. Sort a list in descending order.

In [22]:
list1.sort(reverse=True)
list1

[21, 10, 9, 8, 7, 6, 3, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [23]:
list2 = [i for i in range(1, 21) if i % 2 == 0]
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [61]:
list3 = [i for i in range(1, 21) if i % 2 != 0]
list3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [25]:
sum(list1)

70

16. Find the maximum value in a list.

In [26]:
max(list1)

21

17. Find the minimum value in a list.

In [27]:
min(list1)

1

18. Create a list of squares of numbers from 1 to 10.

In [29]:
list18 = [num**2 for num in range(1, 11)]
list18

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [33]:
import random

num = int(input("Enter the number of random integers that you want: "))

random_list = []
for i in range(num):
    random_list.append(random.randint(1, 10))

random_list

Enter the number of random integers that you want:  20

[9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3, 8, 8, 10, 10, 9, 10, 6, 5, 8]

20. Remove duplicates from a list.

In [35]:
remove_duplicates = list(set(random_list))
remove_duplicates

[1, 2, 3, 5, 6, 7, 8, 9, 10]

21. Find the common elements between two lists.

In [37]:
list21a = [9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3]
list21b = [8, 8, 10, 10, 9, 10, 6, 5, 8, 3]

common_elements = [x for x in list21a for y in list21b if x == y]
list(set(common_elements))

[3, 5, 6, 8, 9]

22. Find the difference between two lists.

In [42]:
list22a = [9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3]
list22b = [8, 8, 10, 10, 9, 10, 6, 5, 8, 3]

difference_elements_list22a = [ x for x in list22a if x not in list22b]
difference_elements_list22b = [ y for y in list22b if y not in list22a]

print(f"List22a - List22b = {list(set(difference_elements_list22a))}")
print(f"List22b - List22a = {list(set(difference_elements_list22b))}")

List22a - List22b = [1, 2, 7]
List22b - List22a = [10]

23. Merge two lists.

In [45]:
list23a = [9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3]
list23b = [8, 8, 10, 10, 9, 10, 6, 5, 8, 3]

list23a.extend(list23b)
print(list23a)

[9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3, 8, 8, 10, 10, 9, 10, 6, 5, 8, 3]

24. Multiply all elements in a list by 2.

In [48]:
list24 = [9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3, 8, 8, 10, 10, 9, 10, 6, 5, 8, 3]
multiplied_list = [x*2 for x in list24]
print(multiplied_list)

[18, 10, 12, 4, 16, 12, 18, 2, 16, 14, 6, 16, 16, 20, 20, 18, 20, 12, 10, 16, 6]

25. Filter out all even numbers from a list.

In [49]:
list25 = list24.copy()
even_list = [x for x in list25 if x % 2 == 0]
print(even_list)

[6, 2, 8, 6, 8, 8, 8, 10, 10, 10, 6, 8]

26. Convert a list of strings to a list of integers.

In [50]:
test_list = ['1', '4', '3', '6', '7'] 

integer_list = [int(i) for i in test_list]

print(integer_list)

[1, 4, 3, 6, 7]

27. Convert a list of integers to a list of strings.

In [51]:
str_list = [str(i) for i in integer_list]

print(str_list)

['1', '4', '3', '6', '7']

28. Flatten a nested list.

In [ ]:
list28 = [[1, 4, 3, 6, 7], [4, 16, 12, 18, 2, 16, 14], [1, 2, 3], [3, 7, 8]]

flatten_list = [elm for innerlist in list28 for elm in innerlist]

print(flatten_list)

29. Create a list of the first 10 Fibonacci numbers.

In [5]:
# def fibonacci(n):
#     fib_list = []
#     if n <= 1:
#         return n
#     a, b = 0, 1
#     while a < n:
#         fib_list.append(a)
#         a, b = b, b + a
#     return fib_list

# fib_list = fibonacci(10)
# print(fib_list)


"""
This program is to give the list of first 10 fibonacci numbers
"""

a = 0 
b = 1
n = int(input("Enter the number of fibonacci list that you want: "))
i = 2
fib_list = [a, b]
while i < n:
    fibo = a + b
    fib_list.append(fibo)
    a, b = b, fibo
    i += 1

print(fib_list)

Enter the number of fibonacci list that you want:  12

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted.

In [6]:
list30 = [9, 5, 6, 2, 8, 6, 9, 1, 8, 7, 3, 8, 8, 10, 10, 9, 10, 6, 5, 8]

if list30 == list30.sort():
    print("The given list is sorted!")
else:
    print("The given list is not sorted")

The given list is not sorted

31. Rotate a list to the left by `n` positions.

In [9]:
# using slicing

test_list = [1, 2, 3, 4, 5, 6, 7]

n = int(input("Enter the number of positions that you need to left rotate: "))
# left rotate
left_rotate = test_list[n:] + test_list[:n]

print(f"The list after left rotation of {n} is '{left_rotate}'")

Enter the number of positions that you need to left rotate:  3

The list after left rotation of 3 is '[4, 5, 6, 7, 1, 2, 3]'

32. Rotate a list to the right by `n` positions.

In [13]:
# using slicing

test_list = [1, 2, 3, 4, 5, 6, 7]

n = int(input("Enter the number of positions that you need to right rotate: "))
# right rotate
right_rotate = test_list[len(test_list) - n:len(test_list)] + test_list[0: len(test_list) - n]

print(f"The list after right rotation of {n} is '{right_rotate}'")

Enter the number of positions that you need to right rotate:  3

The list after right rotation of 3 is '[5, 6, 7, 1, 2, 3, 4]'

33. Create a list of prime numbers up to 50.

In [8]:
prime_list = []
for i in range(2, 51):
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            break
    else:
        prime_list.append(i)
        
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [12]:
list34 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

start = 0
end = len(list34)
step = int(input("Enter the chunk size: "))
for i in range(start, end, step):
    x = i
    print(list34[x:x+step])

Enter the chunk size:  2

[2, 3]
[5, 7]
[11, 13]
[17, 19]
[23, 29]
[31, 37]
[41, 43]
[47]

35. Find the second largest number in a list.

In [47]:
list35 = [2, 43, 47, 44, 45, 90, 56, 76]
fir_max = list35[0]
sec_max = list35[1]
for i in range(len(list35)):
    
    if (list35[i] > fir_max):
        sec_max = fir_max
        fir_max = list35[i]
    if list35[i] > sec_max and list35[i] < fir_max:
        sec_max = list35[i]
    

print(f"Sec_max = {sec_max}")

Sec_max = 76

36. Replace every element in a list with its square.

In [48]:
list36 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

squared_list = [x**2 for x in list36]

print(squared_list)

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [54]:
list37 = list36.copy()

# using simple looping
dictionary = {}

for i in range(len(list37)):
    dictionary.update({list37[i]: i})
print(f"Using simple for loop: \n{dictionary}")

# using enumerate
enum_dict = {}
for index, element in enumerate(list37):
    enum_dict.update({element: index})

print(f"Using enumeration: \n{enum_dict}")

Using simple for loop:
{2: 0, 3: 1, 5: 2, 7: 3, 11: 4, 13: 5, 17: 6, 19: 7, 23: 8, 29: 9, 31: 10, 37: 11, 41: 12, 43: 13, 47: 14}
Using enumeration:
{2: 0, 3: 1, 5: 2, 7: 3, 11: 4, 13: 5, 17: 6, 19: 7, 23: 8, 29: 9, 31: 10, 37: 11, 41: 12, 43: 13, 47: 14}

38. Shuffle the elements of a list randomly.

In [57]:
list38 = list36.copy()

import random

print(f"Original list: {list38}")
random.shuffle(list38)
print(f"Shuffled list: {list38}")

Original list: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
Shuffled list: [37, 17, 31, 47, 13, 19, 11, 5, 7, 2, 29, 43, 3, 23, 41]

39. Create a list of the first 10 factorial numbers.

In [58]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

fact = []
for i in range(10):
    fact.append(factorial(i))

print(fact)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [59]:
list40a = [2, 3, 5, 10, 1, 11, 23, 24, 5]
list40b = [3, 6, 7, 8, 0, 100, 12, 34, 6]

def common_elements(list40a, list40b):
    set1 = set(list40a)
    set2 = set(list40b)
    
    common = set1.intersection(set2)
    
    return len(common) > 0

if common_elements(list40a, list40b):
    print("Lists are having atleast one element in common")
else:
    print("Lists are having no elements in common")

Lists are having atleast one element in common

41. Remove all elements from a list.

In [64]:
list3
list3.clear()
list3

[]

42. Replace negative numbers in a list with 0.

In [66]:
list42 = [1, -1, 2, -2, 3, -3, 4, -4, 5, 6, 7, 8, -9, 0, -4, -10]
new_list = []
for i in list42:
    if i < 0:
        new_list.append(0)
    else:
        new_list.append(i)

print(new_list)

[1, 0, 2, 0, 3, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0, 0]

43. Convert a string into a list of words.

In [67]:
s = "This is full stack data science pro class"
l = s.split()
print(l)

['This', 'is', 'full', 'stack', 'data', 'science', 'pro', 'class']

44. Convert a list of words into a string.

In [69]:
l
print(' '.join(l))

This is full stack data science pro class

45. Create a list of the first `n` powers of 2.

In [74]:
n = int(input("Enter the number of elements: "))

power_list = [x**2 for x in range(1,n+1)]
print(power_list)

Enter the number of elements:  10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings.

In [76]:
print(l)

longest_word = sorted(l, key=len)

print(f"The longest word is: {longest_word[-1]}")

['This', 'is', 'full', 'stack', 'data', 'science', 'pro', 'class']
The longest word is: science

47. Find the shortest string in a list of strings.

In [78]:
print(l)

shortest_word = sorted(l, key=len)

print(f"The shortest word is: {shortest_word[0]}")

['This', 'is', 'full', 'stack', 'data', 'science', 'pro', 'class']
The shortest word is: is

48. Create a list of the first `n` triangular numbers.

Triangular numbers are a sequence of numbers that can be represented as the sum of consecutive natural numbers starting from 1. The nth triangular number is the sum of the first n natural numbers.

Triangular numbers are given like below:

1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15
1 + 2 + 3 + 4 + 5 + 6 = 21
1 + 2 + 3 + 4 + 5 + 6 + 7 = 28
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 = 36
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 = 45
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [79]:
def generate_triangular_number(n):
    triangular_num = []
    total = 0
    
    for i in range(1, n+1):
        total += i
        triangular_num.append(total)

    return triangular_num
n = int(input("Enter the number of triangular numbers that you want to be printed: "))

print(f"The first {n} triangular numbers are: \n {generate_triangular_number(n)}")

Enter the number of triangular numbers that you want to be printed:  10

The first 10 triangular numbers are:
 [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [80]:
super_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]
sub_list = [3, 10, 21]

def subsequence(super_list, sub_len):
    super_len = len(super_list)
    sub_len = len(sub_len)

    if sub_len == 0:
        return True # an empty list is always a subsequence of superlist
    
    i = 0 # index of super_list
    j = 0 # index of sub_list
    
    while i < super_len:
        if sub_list[j] == super_list[i]:
            j += 1
            if j == sub_len:
                return True # Found a complete subsequence
        i += 1
    
    return False # didn't find the complete subsequence

if subsequence(super_list, sub_list):
    print("sub_list is a subsequence of super_list.")
else:
    print("sub_list is not a subsequence of super_list.")

sub_list is a subsequence of super_list.

50. Swap two elements in a list by their indices.

In [84]:
list50 = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

def swap_elements_by_index(list_, index1, index2):
    if 0 <= index1 < len(list_) and 0 <= index2 < len(list_):
        list_[index1], list_[index2] = list_[index2], list_[index2]
        return True
    else:
        return False
    
index1 = 2
index2 = 8

if swap_elements_by_index(list50, index1, index2):
    print(f"Swapped list = {list50}")
else:
    print("Invalid indices. No swap was performed.")

Swapped list = [1, 3, 45, 10, 15, 21, 28, 36, 45, 55]