# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [110]:
tup1 = (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [111]:
tup1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [112]:
count = 0
for i in tup1:
    count += 1

print(f"The length of the tuple is: {count}")

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [113]:
# ele = {}
# for i in tup1:
#     if i in ele:
#         ele[i] += 1
#     else:
#         ele[i] = 1

# print(f"The occurrences of an element in tuple is: {ele}")
tup4 = (1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1)

tup4.count(2)

2

5. Find the index of the first occurrence of an element in a tuple.

In [114]:
tup4.index(1)

0

6. Check if an element exists in a tuple.

In [116]:
ele = int(input("Enter an element to check if it is present in the tuple: "))
if ele in tup4:
    print(f"{ele} exists in tuple")
else:
    print(f"{ele} does not exist in tuple")

Enter an element to check if it is present in the tuple:  4

4 exists in tuple

7. Convert a tuple to a list.

In [117]:
l1 = list(tup1)
print(l1)

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [118]:
tup3 = tuple(l1)
print(tup3)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [119]:
tup9 = (2, 3)
x, y = tup9
print(x)
print(y)

2
3

10. Create a tuple of even numbers from 1 to 10.

In [120]:
tup10 = tuple([x for x in range(1, 11) if x%2 == 0])
print(tup10)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [121]:
tup11 = tuple([x for x in range(1, 11) if x%2 != 0])
print(tup11)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [122]:
print(tup10+tup11)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [123]:
tup10 * 3

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [124]:
tup14 = ()
if len(tup14) == 0:
    print(f"Tuple is empty")
else:
    print(f"Tuple is having atleast one element")

Tuple is empty

15. Create a nested tuple.

In [125]:
tup15 = (1, 2, 3, (4, 5, 6), (7, 8, (9, 10)))
print(tup15)

(1, 2, 3, (4, 5, 6), (7, 8, (9, 10)))

16. Access the first element of a nested tuple.

In [126]:
tup15[3][0]

4

17. Create a tuple with a single element.

In [127]:
tup17 = (1,)
print(tup17)

(1,)

18. Compare two tuples.

In [128]:
tup18a = (1, 2, 3, 4, 5)
tup18b = (5, 4, 3, 2, 1)

if tup18a == tup18b:
    print("Both the tuples are equal")
else:
    print("Both the tuples are unequal")

Both the tuples are unequal

19. Delete a tuple.

In [129]:
tup19 = (1, 2, 3)
print(tup19)

(1, 2, 3)

In [130]:
del tup19
print(tup19)

NameError: name 'tup19' is not defined

20. Slice a tuple.

In [131]:
tup20 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup20[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

21. Find the maximum value in a tuple.

In [132]:
max(tup20)

10

22. Find the minimum value in a tuple.

In [133]:
min(tup20)

1

23. Convert a string to a tuple of characters.

In [134]:
string = 'full stack data science course'
list_of_char = []
tup23 = ()
for i in string:
    list_of_char.append(i)

tup23 = tuple(list_of_char)
print(tup23)

('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'c', 'o', 'u', 'r', 's', 'e')

24. Convert a tuple of characters to a string.

In [135]:
string23 = ''
for i in tup23:
    string23 += ''.join(i)
print(string23)

full stack data science course

25. Create a tuple from multiple data types.

In [136]:
tup25 = (23, 'Pwskills', [2, 3], 5+6j, 4.5, {'a': 1})
print(tup25)

(23, 'Pwskills', [2, 3], (5+6j), 4.5, {'a': 1})

26. Check if two tuples are identical.

In [137]:
tup26a = (1, 2, 3, 4, 5)
tup26b = (1, 2, 3, 4, 5)

if tup26a == tup26b:
    print("These two tuples are identical")
else:
    print("These two tuples are non-identical")

These two tuples are identical

27. Sort the elements of a tuple.

In [138]:
tup27 = (9, 66, 45, 78, 43, 23, 50, 12, 11, 56)
# convert to list, sort it and then convert back to tuple
list27 = list(tup27)
list27.sort()
print(f"Original Tuple: {tup27}\nSorted Tuple: {tuple(list27)}")

Original Tuple: (9, 66, 45, 78, 43, 23, 50, 12, 11, 56)
Sorted Tuple: (9, 11, 12, 23, 43, 45, 50, 56, 66, 78)

28. Convert a tuple of integers to a tuple of strings.

In [139]:
print(f"Original Tuple: {tup27}")
list_str = []
for i in tup27:
    list_str.append(str(i))
tup_str = tuple(list_str)
print(f"Converted tuple of Strings: {tup_str}")

Original Tuple: (9, 66, 45, 78, 43, 23, 50, 12, 11, 56)
Converted tuple of Strings: ('9', '66', '45', '78', '43', '23', '50', '12', '11', '56')

29. Convert a tuple of strings to a tuple of integers.

In [140]:
print(f"Original Tuple of Strings: {tup_str}")
list_int = []
for i in tup_str:
    list_int.append(int(i))

tup_int = tuple(list_int)
print(f"Converted tuple of integers: {tup_int}")

Original Tuple of Strings: ('9', '66', '45', '78', '43', '23', '50', '12', '11', '56')
Converted tuple of integers: (9, 66, 45, 78, 43, 23, 50, 12, 11, 56)

30. Merge two tuples.

In [141]:
tup30a = ('a', 1, 4.5, 6+7j, [1, 2], {1: 'One'}, ('dictionary', 'letters'), {1, 2, 3})
tup30b = (78, 43, 23, 50, 12, 11, 56)
print(f"Merged two tuples: {tup30a + tup30b}")

Merged two tuples: ('a', 1, 4.5, (6+7j), [1, 2], {1: 'One'}, ('dictionary', 'letters'), {1, 2, 3}, 78, 43, 23, 50, 12, 11, 56)

31. Flatten a nested tuple.

In [142]:
nested_tup = ((1, 2, 3), ('a', 'b', 'c'), (1+2j, 3+4j, 5+6j))
flatten = [(x) for tups in nested_tup for x in tups]
print(f"Original Nested Tuple: {nested_tup}\nFlattened Nested Tuple: {tuple(flatten)}")

Original Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), ((1+2j), (3+4j), (5+6j)))
Flattened Nested Tuple: (1, 2, 3, 'a', 'b', 'c', (1+2j), (3+4j), (5+6j))

32. Create a tuple of the first 5 prime numbers.

In [143]:
def check_prime(n):
    if n == 0 or n == 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    
    while i * i <= n:
        if n % i == 0 or n % (i+2) == 0:
            return False
        i += 6
    return True

def prime_num_series(n):
    prime_num = []
    num = 2
    while len(prime_num) < n:
        if check_prime(num):
            prime_num.append(num)
            
        num += 1
    
    return prime_num


print(f"First 5 prime numbers are: {tuple(prime_num_series(5))}")

First 5 prime numbers are: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [144]:
tup33 = ('a', 'b', 'c', 1, 'c', 'b', 'a')
if tup33 == tup33[::-1]:
    print("Tuple is a Palindrome")
else:
    print("Tuple is not a Plaindrome")

Tuple is a Palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [145]:
print(tuple([x**2 for x in range(1, 6)]))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [146]:
tup35 = ( 9, 88, 100, 45, 56, 57, 87, 98, 37, 34)

print(tuple([x for x in list(tup35) if x % 2 == 0]))

(88, 100, 56, 98, 34)

36. Multiply all elements in a tuple by 2.

In [147]:
print(tuple([x*2 for x in list(tup35)]))

(18, 176, 200, 90, 112, 114, 174, 196, 74, 68)

37. Create a tuple of random numbers.

In [148]:
import random

num = int(input("Enter the number of random numbers you want: "))
list_rand = []

for i in range(num):
    list_rand.append(random.randint(1, 5))
    
print(tuple(list_rand))

Enter the number of random numbers you want:  6

(3, 5, 5, 5, 4, 1)

38. Check if a tuple is sorted.

In [149]:
tup38 = (2, 2, 4, 3, 4, 1, 5, 3, 1, 5)
if sorted(tup38) == tup38:
    print("Tuple is Sorted")
else:
    print("Tuple is not Sorted")

Tuple is not Sorted

39. Rotate a tuple to the left by `n` positions.

In [151]:
tup39 = (1, 2, 3, 4, 5, 6)
n = int(input("Enter the number of left shifts that you need to happen on a tuple: "))
left_rotate = tup39[n:] + tup39[:n]
print(f"Original Tuple: {tup39}\nLeft Rotate by {n} tuple is: {left_rotate}")

Enter the number of left shifts that you need to happen on a tuple:  2

Original Tuple: (1, 2, 3, 4, 5, 6)
Left Rotate by 2 tuple is: (3, 4, 5, 6, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [152]:
tup40 = (1, 2, 3, 4, 5, 6)
n = int(input("Enter the number of right shifts that you need to happen on a tuple: "))
right_rotate = tup40[len(tup40)-n:] + tup40[0: len(tup40)-n]
print(f"Original Tuple: {tup40}\nRight Rotate by {n} tuple is: {right_rotate}")

Enter the number of right shifts that you need to happen on a tuple:  2

Original Tuple: (1, 2, 3, 4, 5, 6)
Right Rotate by 2 tuple is: (5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [153]:
p = 0
q = 1
num = 5
i = 2
fibo = [p, q]
while i < num:
    p, q = q, p+q
    fibo.append(q)
    i += 1

print(f"first 5 Fibonacci numbers are: {tuple(fibo)}")

first 5 Fibonacci numbers are: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [154]:
length_of_tup = int(input("Enter the length that you want to make it as tuple: "))
input_element = []
for i in range(length_of_tup):
    a = input(f"Enter {i+1}th element: ")
    try:
        input_element.append(float(a))
    except:
        input_element.append(a)

print(f"The tuple Created is: {tuple(input_element)}")

Enter the length that you want to make it as tuple:  5
Enter 1th element:  1
Enter 2th element:  2
Enter 3th element:  2
Enter 4th element:  a
Enter 5th element:  b

The tuple Created is: (1.0, 2.0, 2.0, 'a', 'b')

43. Swap two elements in a tuple.

In [155]:
tup43 = (1, 2, 3, 4, 5)
print(f"Original Tuple: {tup43}")
list43 = list(tup43)

index1 = int(input("Enter the first index to be swapped with: "))
index2 = int(input("Enter the second index to be swapped with: "))

if 0 <= index1 < len(tup43) and 0 <= index2 < len(tup43):
    list43[index1], list43[index2] = list43[index2], list43[index1]
    print(f"Swapped Tuple: {tuple(list43)}")
else:
    print("Index is out of range!")

Original Tuple: (1, 2, 3, 4, 5)

Enter the first index to be swapped with:  2
Enter the second index to be swapped with:  3

Swapped Tuple: (1, 2, 4, 3, 5)

44. Reverse the elements of a tuple.

In [156]:
print(f"Original Tuple: {tup43}")
print(f"Reversed Tuple: {tup43[::-1]}")

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [157]:
num = int(input("Enter the number of elements that you want inside a tuple: "))
print(f"First {num} natural numbers of powers of 2 is: \n{tuple([x**2 for x in range(1, num+1)])}")

Enter the number of elements that you want inside a tuple:  10

First 10 natural numbers of powers of 2 is:
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

46. Find the longest string in a tuple of strings.

In [158]:
tup46 = ('full', 'stack', 'data', 'science', 'pro', 'pwskills')
print(f"Original Tuple: {tup46}")
sorted_tup = sorted(tup46, key=len)
print(f"The longest string in the above tuple is: '{sorted_tup[-1]}'")

Original Tuple: ('full', 'stack', 'data', 'science', 'pro', 'pwskills')
The longest string in the above tuple is: 'pwskills'

47. Find the shortest string in a tuple of strings.

In [159]:
tup47 = ('full', 'stack', 'data', 'science', 'pro', 'pwskills')
print(f"Original Tuple: {tup47}")
sorted_tup = sorted(tup47, key=len)
print(f"The shortest string in the above tuple is: '{sorted_tup[0]}'")

Original Tuple: ('full', 'stack', 'data', 'science', 'pro', 'pwskills')
The shortest string in the above tuple is: 'pro'

48. Create a tuple of the first `n` triangular numbers.

Triangular numbers are a sequence of numbers that can be represented as the sum of consecutive natural numbers starting from 1. The nth triangular number is the sum of the first n natural numbers.

Triangular numbers are given like below:

1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15
1 + 2 + 3 + 4 + 5 + 6 = 21
1 + 2 + 3 + 4 + 5 + 6 + 7 = 28
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 = 36
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 = 45
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [160]:
def triangular_numbers(n):
    triangle_num = []
    total = 0
    for i in range(1, n+1):
        total += i
        triangle_num.append(total)
    return triangle_num

n = int(input("Enter the number of triangular numbers that you want to be printed: "))

print(f"The first {n} Triangular numbers are: {tuple(triangular_numbers(n))}")

Enter the number of triangular numbers that you want to be printed:  6

The first 6 Triangular numbers are: (1, 3, 6, 10, 15, 21)

49. Check if a tuple contains another tuple as a subsequence.

In [161]:
def subsequence(main_tup, sub_tup):
    main_len = len(main_tup)
    sub_len = len(sub_tup)
    
    if sub_len == 0:
        return True # as empty sub tuple is always a subset of superset
    
    i = 0 # index of main tuple
    j = 0 # index of sub tuple
    
    while i < main_len:
        if sub_tup[j] == main_tup[i]:
            j += 1
            if j == sub_len:
                return True
        
        i += 1
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sub_tuple = (5,)

if subsequence(main_tuple, sub_tuple):
    print("sub_tuple is a subsequence of main_tuple")
else:
    print("sub_tuple is not a subsequence of main_tuple")

sub_tuple is a subsequence of main_tuple

50. Create a tuple of alternating 1s and 0s of length `n`.

In [162]:
n = int(input("Enter the length of the tuple: "))
tup_list = []
for i in range(1, n+1):
    if i%2 == 0:
        tup_list.append(0)
    else:
        tup_list.append(1)
print(f"The alternate 1s and 0s of length of {n} tuple is: {tuple(tup_list)}")

Enter the length of the tuple:  9

The alternate 1s and 0s of length of 9 tuple is: (1, 0, 1, 0, 1, 0, 1, 0, 1)