# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [7]:
s1 = {1, 2, 3, 4, 5}

2. Add an element to a set.

In [8]:
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [9]:
print(f"Original Set: {s1}")
s1.remove(5)
print(f"After Removing: {s1}")

Original Set: {1, 2, 3, 4, 5, 6}
After Removing: {1, 2, 3, 4, 6}

4. Check if an element exists in a set.

In [10]:
n = 8
if n in s1:
    print(f"{n} exists in {s1}")
else:
    print(f"{n} does not exists in {s1}")

8 does not exists in {1, 2, 3, 4, 6}

5. Find the length of a set without using the `len()` function.

In [11]:
count = 0
for i in s1:
    count += 1
print(f"The length of the set {s1} is {count}")

The length of the set {1, 2, 3, 4, 6} is 5

6. Clear all elements from a set.

In [12]:
print(f"Original Set: {s1}")
s1.clear()
print(f"Cleared Set: {s1}")

Original Set: {1, 2, 3, 4, 6}
Cleared Set: set()

7. Create a set of even numbers from 1 to 10.

In [13]:
even_set = set([x for x in range(1, 11) if x % 2 == 0])
print(f"Set of even numbers: {even_set}")

Set of even numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [14]:
odd_set = set([x for x in range(1, 11) if x % 2 != 0])
print(f"Set of odd numbers: {odd_set}")

Set of odd numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [15]:
print(f"Union of Even and Odd sets: {even_set.union(odd_set)}")

Union of Even and Odd sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [16]:
print(f"Intersection of Even and Odd sets: {even_set.intersection(odd_set)}")

Intersection of Even and Odd sets: set()

11. Find the difference between two sets.

In [17]:
set11a = {1, 2, 3, 4, 5}
set11b = {4, 5, 6, 7, 8}
print(f"The difference of Set11a - set11b = {set11a.difference(set11b)}")
print(f"The difference of Set11b - set11a = {set11b.difference(set11a)}")

The difference of Set11a - set11b = {1, 2, 3}
The difference of Set11b - set11a = {8, 6, 7}

12. Check if a set is a subset of another set.

In [20]:
main_set = {'a', 'b', 'c', 'd', 'e'}
sub_set = {'b', 'e'}
if sub_set.issubset(main_set):
    print(f"{sub_set} is a subset of {main_set}")
else:
    print(f"{sub_set} is not a subset of {main_set}")

{'b', 'e'} is a subset of {'d', 'b', 'c', 'a', 'e'}

13. Check if a set is a superset of another set.

In [23]:
main_set = {'a', 'b', 'c', 'd', 'e'}
sub_set = {'b', 'd'}
if main_set.issuperset(sub_set):
    print(f"{main_set} is a superset of {sub_set}")
else:
    print(f"{main_set} is not a subset of {sub_set}")

{'d', 'b', 'c', 'a', 'e'} is a superset of {'d', 'b'}

14. Create a set from a list.

In [25]:
list14 = ['a', 'b', 'c', 'x', 'm', 'n', 1, 8, 9, 9, 'z', 'f', 'a', 8, 2]
print(f"List = {list14}")
print(f"Set of above list = {set(list14)}")

List = ['a', 'b', 'c', 'x', 'm', 'n', 1, 8, 9, 9, 'z', 'f', 'a', 8, 2]
Set of above list = {1, 'f', 2, 'm', 8, 9, 'c', 'a', 'n', 'b', 'x', 'z'}

15. Convert a set to a list.

In [33]:
set15 = {'a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 7, 8, 3, 2, 1}
print(f"Set = {set15}")
print(f"List of above set = {list(set15)}")

Set = {1, 2, 3, 4, 5, 7, 8, 'c', 'a', 'e', 'd', 'b'}
List of above set = [1, 2, 3, 4, 5, 7, 8, 'c', 'a', 'e', 'd', 'b']

16. Remove a random element from a set.

In [34]:
print(f"Original Set = {set15}")
set15.remove('c')
print(f"After removing an element from a set: {set15}")

Original Set = {1, 2, 3, 4, 5, 7, 8, 'c', 'a', 'e', 'd', 'b'}
After removing an element from a set: {1, 2, 3, 4, 5, 7, 8, 'a', 'e', 'd', 'b'}

17. Pop an element from a set.

In [35]:
print(f"Original Set = {set15}")
set15.pop()
print(f"After Popping an element from a set: {set15}") # pop by default removes the first element inside a set

Original Set = {1, 2, 3, 4, 5, 7, 8, 'a', 'e', 'd', 'b'}
After Popping an element from a set: {2, 3, 4, 5, 7, 8, 'a', 'e', 'd', 'b'}

18. Check if two sets have no elements in common.

In [36]:
set18a = {1, 2, 3, 4, 5}
set18b = {4, 5, 6, 7, 8}
if not set18a.intersection(set18b):
    print("There are no elements in common between set18a and set18b")
else:
    print("There are elements in common between set18a and set18b")

There are elements in common between set18a and set18b

19. Find the symmetric difference between two sets.

Symmetric Difference is
A + B = (A u B) - (A n B)
(Everything in A and B except the common elements between A and B set)

In [38]:
set19a = {1, 2, 3, 4, 5}
set19b = {4, 5, 6, 7, 8}

print(f"The symmetric difference between {set19a} and {set19b} sets are: {set19a.symmetric_difference(set19b)}")

The symmetric difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} sets are: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [40]:
set20 = {1, 2, 3}
update = {4, 5, 6}
set20.update(update)
print(f"Updated Set: {set20}")

Updated Set: {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [45]:
def check_prime(number):
    if number == 0 or number == 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    
    i = 5
    while i * i < number:
        if number % i == 0 or number % i+1 == 0:
            return False
        
        i+=6
    return True

def first_n_prime_numbers(n):
    list_prime = []
    num = 2
    while len(list_prime) < n:
        if check_prime(num):
            list_prime.append(num)
        num += 1
    return list_prime

n = 5
print(f"The set of first {n} prime numbers are: {set(first_n_prime_numbers(n))}")

The set of first 5 prime numbers are: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [47]:
set22a = {1, 2, 3}
set22b = {3, 2, 1}

if set22a == set22b:
    print("Sets are identical")
else:
    print("Sets are not identical")

Sets are identical

23. Create a frozen set.

In [48]:
normal_set = {1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1}
frozen_set = frozenset(normal_set)
print(f"Normal Set = {normal_set}\nFrozen Set = {frozen_set}")

Normal Set = {1, 2, 3, 4, 5, 6}
Frozen Set = frozenset({1, 2, 3, 4, 5, 6})

24. Check if a set is disjoint with another set.

X âˆ© Y = 0

In [49]:
set24a = {1, 2, 3, 4, 5}
set24b = {4, 5, 6, 7, 8}
if set24a.isdisjoint(set24b):
    print("These two sets are Disjoint")
else:
    print("These two sets are having atleast one element in common")

These two sets are having atleast one element in common

25. Create a set of squares of numbers from 1 to 5.

In [50]:
square_set = set([x**2 for x in range(1, 5+1)])
print(f"Set of squares of numbers from 1 to 5 is: {square_set}")

Set of squares of numbers from 1 to 5 is: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [51]:
set26 = {10, 2, 3, 4, 5, 6, 8, 45, 55, 56, 76, 77, 87, 88}
even_set = set([x for x in set26 if x%2 == 0])
print(f"Even set = {even_set}")

Even set = {2, 4, 6, 8, 10, 76, 56, 88}

27. Multiply all elements in a set by 2.

In [1]:
set27 = {10, 2, 3, 4, 5, 6, 8, 45, 55, 56, 76, 77, 87, 88}
mul_set = set([x*2 for x in set27])
print(f"Original Set: {set27} \nMultiplied by 2: {mul_set}")

Original Set: {2, 3, 4, 5, 6, 8, 10, 76, 45, 77, 55, 87, 56, 88}
Multiplied by 2: {4, 6, 154, 8, 10, 12, 110, 174, 16, 112, 176, 20, 152, 90}

28. Create a set of random numbers.

In [59]:
import random

n = int(input("Enter the number of random numbers you want: "))


print(f"Set of {n} random numbers are: {set(random.sample(range(1, 10), n))}")

Enter the number of random numbers you want:  7

Set of 7 random numbers are: {1, 2, 4, 5, 7, 8, 9}

29. Check if a set is empty.

In [4]:
s = set() # {} -> is a empty dictionary not an empty set
if len(s) > 0:
    print("Set is having atleast one element")
else:
    print("Set is empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [7]:
set30a = frozenset({1, 2, 3})
set30b = frozenset({3, 4, 5})
set30c = frozenset({5, 6, 7})

nested_set = frozenset({set30a, set30b, set30c})

print(f"Nested Set = {nested_set}")

Nested Set = frozenset({frozenset({1, 2, 3}), frozenset({5, 6, 7}), frozenset({3, 4, 5})})

31. Remove an element from a set using the discard method.

In [4]:
set31 = {1, 2, 3, 4, 5}
print(f"Original Set = {set31}")
set31.discard(2)
print(f"Discarded Set = {set31}")

Original Set = {1, 2, 3, 4, 5}
Discarded Set = {1, 3, 4, 5}

32. Compare two sets.

In [6]:
set32a = {1, 2, 3, 4, 5}
set32b = {1, 2, 3, 4, 5}
if set32a == set32b:
    print("Both sets are identical")
else:
    print("Both sets are non-identical")

Both sets are identical

33. Create a set from a string.

In [7]:
string = "Full stack Data Science Pro"
string_list = []
for i in string:
    string_list.append(i)

print(f"String: {string}\nSet of the string: {set(string_list)}")

String: Full stack Data Science Pro
Set of the string: {'a', 't', 'k', 'F', 'D', 'e', 'r', 'u', 'l', 'n', 'i', 'S', 'c', 'P', ' ', 'o', 's'}

34. Convert a set of strings to a set of integers.

In [11]:
set_str = {'1', '2', '3', '4', '5'}
print(f"Set of Strings: {set_str}")
list_set = list(set_str)
list_int = []
for i in list_set:
    list_int.append(int(i))

print(f"Set of integers: {set(list_int)}")

Set of Strings: {'5', '2', '4', '3', '1'}
Set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [12]:
set_int = {1, 2, 3, 4, 5}
print(f"Set of Integers: {set_int}")
list_int = list(set_int)
list_str = []
for i in set_int:
    list_str.append(str(i))

print(f"Set of Strings: {set(list_str)}")

Set of Integers: {1, 2, 3, 4, 5}
Set of Strings: {'2', '3', '1', '5', '4'}

36. Create a set from a tuple.

In [14]:
tup = ('a', 'b', 23, 1, 2, 3, 4, 5, 'z')
print(f"Tuple = {tup}")
set_from_tup = set(tup)
print(f"Set from a Tuple = {set_from_tup}")

Tuple = ('a', 'b', 23, 1, 2, 3, 4, 5, 'z')
Set from a Tuple = {'a', 2, 1, 3, 4, 5, 'z', 'b', 23}

37. Convert a set to a tuple.

In [15]:
set37 = {'a', 2, 1, 3, 4, 5, 'z', 'b', 23, 23, 45}
print(f"Original Set = {set37}")
tup_from_set = tuple(set37)
print(f"Tuple from a Set: {tup_from_set}")

Original Set = {'a', 2, 3, 4, 1, 5, 'z', 45, 'b', 23}
Tuple from a Set: ('a', 2, 3, 4, 1, 5, 'z', 45, 'b', 23)

38. Find the maximum value in a set.

In [17]:
set_ = {23, 45, 67, 89, 9, 87, 65, 43, 37, 23, 55}
print(f"Maximum Value in {set_} is {max(set_)}")

Maximum Value in {65, 67, 37, 9, 43, 45, 23, 87, 55, 89} is 89

39. Find the minimum value in a set.

In [18]:
set_ = {23, 45, 67, 89, 9, 87, 65, 43, 37, 23, 55}
print(f"Minimum Value in {set_} is {min(set_)}")

Minimum Value in {65, 67, 37, 9, 43, 45, 23, 87, 55, 89} is 9

40. Create a set from user input.

In [20]:
num = int(input("Enter the length of the set that you want to create: "))
list_ = []
for i in range(num):
    x = input(f"Enter {i+1}th element: ")
    list_.append(x)
    
set_ = set(list_)
print(f"Set created from user input: {set_}")

Enter the length of the set that you want to create:  4
Enter 1th element:  Hansa
Enter 2th element:  Guru
Enter 3th element:  2
Enter 4th element:  3

Set created from user input: {'Hansa', 'Guru', '3', '2'}

41. Check if the intersection of two sets is empty.

In [23]:
set41a = {1, 2, 3, 4, 5}
set41b = {6, 7, 8, 9, 10}
if len(set41a.intersection(set41b)) == 0:
    print("The intersection of two sets are empty")
else:
    print("There is atleast one element common between two sets")

The intersection of two sets are empty

42. Create a set of the first 5 Fibonacci numbers.

In [28]:
p = 0
q = 1
list_ = [p, q]
num = 2
n = 5
while len(list_) < n:
    p, q = q, p+q
    list_.append(q)
    i+=1
print(f"First {n} Fibonacci numbers: {set(list_)} --> Set would contain unique numbers")

First 5 Fibonacci numbers: {0, 1, 2, 3} --> Set would contain unique numbers

43. Remove duplicates from a list using sets.

In [29]:
list43 = [1, 2, 3, 4, 5, 6, 7, 4, 5, 3, 2, 1]
print(f"Original List = {list43}")
set43 = set(list43)
print(f"List without duplicates = {list(set43)}")

Original List = [1, 2, 3, 4, 5, 6, 7, 4, 5, 3, 2, 1]
List without duplicates = [1, 2, 3, 4, 5, 6, 7]

44. Check if two sets have the same elements, regardless of their count.

In [30]:
set44a = {1, 2, 3, 4, 3, 2, 1}
set44b = {4, 3, 2, 1}
if set44a == set44b:
    print("Both sets are having same elements")
else:
    print("Both sets are not having same elements")

Both sets are having same elements

45. Create a set of the first `n` powers of 2.

In [32]:
n = int(input("Enter the value of n: "))

set_pow = set([x**2 for x in range(1, n)])

print(f"Set of the first {n} powers of 2 is: {set_pow}")

Enter the value of n:  10

Set of the first 10 powers of 2 is: {64, 1, 4, 36, 9, 16, 49, 81, 25}

46. Find the common elements between a set and a list.

In [33]:
set46 = {1, 2, 3, 5}
list46 = [1, 2, 6, 7, 8, 8, 9, 3, 2, 1]
print(f"The common elements between {set46} and {list46} is '{set46.intersection(set(list46))}'")

The common elements between {1, 2, 3, 5} and [1, 2, 6, 7, 8, 8, 9, 3, 2, 1] is '{1, 2, 3}'

47. Create a set of the first `n` triangular numbers.

In [37]:
def triangular_numbers(num):
    triangular_num = []
    total = 0
    
    for i in range(1, num+1):
        total += i
        triangular_num.append(total)
        
    return triangular_num

n = int(input("Enter the value of n: "))
print(f"The set of first {n} triangular numbers are: {set(triangular_numbers(n))}")

Enter the value of n:  10

The set of first 10 triangular numbers are: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [39]:
super_set = {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}
sub_set = {3, 36}
if sub_set.issubset(super_set):
    print(f"{sub_set} is a subset of {super_set}")
else:
    print(f"{sub_set} is not a subset of {super_set}")

{3, 36} is a subset of {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

49. Create a set of alternating 1s and 0s of length `n`.

In [40]:
alter_list = []
n = int(input("Enter the length of the set that you need 1s and 0s are : "))
for i in range(1, n+1):
    if i%2 == 0:
        alter_list.append(1)
    else:
        alter_list.append(0)
        
print(f"The list of alternating 1s and 0s are: {alter_list}")
print(f"The set of the alternating 1s and 0s are: {set(alter_list)}")

Enter the length of the set that you need 1s and 0s are :  10

The list of alternating 1s and 0s are: [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
The set of the alternating 1s and 0s are: {0, 1}

50. Merge multiple sets into one.

In [43]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 3, 5}
merged_set = set1.union(set2, set3)

print(f"Merged set: {merged_set}")

Merged set: {1, 2, 3, 4, 5}